# Vendor: https://github.com/bigtreetech/MMB/tree/master/Hardware
# Flash without ID: -d 0483:df11
# sudo dfu-util -R -a 0 -s 0x08000000:force:mass-erase:leave -D ~/katapult/out/katapult.bin
#
# [mcu mmu]
# canbus_uuid: c26c67d0d531 

# CW2 w/Dragon Toolhead & Extruder sensors
# toolhead_extruder_to_nozzle: 64
# toolhead_sensor_to_nozzle: 54
# toolhead_entry_to_extruder: 13
# toolhead_ooze_reduction: 7
# variable_blade_pos: 40 - 44 also works
# variable_retract_length: 30 