
[gcode_macro BEDMESHLOAD]
gcode:
    BED_MESH_PROFILE LOAD={printer.heater_bed.target}C

#--------------------------------------------------------------------
[bed_mesh]
mesh_min: 50,25
mesh_max: 325,315
speed: 350
horizontal_move_z: 15
probe_count: 10,10
algorithm: bicubic
zero_reference_position: 175,175 # reference position is middle of the bed.
fade_start: 0.5
fade_end: 10
move_check_distance: 5
split_delta_z: 0.01
mesh_pps: 2,2
bicubic_tension: 0.01